form {
  display: flex;
  justify-content: space-between;
}

mat-form-field.mat-form-field {
  width: 40%
}

.warning-container {
  display: flex;
  justify-content: space-between

}

.warn{
  color: red;
  width: 40%;
}

.spacer {
  width: 40px
}