<form #form="ngForm" (ngSubmit)="form.valid && formSubmit(form.value)">
    <mat-form-field>
      <input 
        matInput
        type="text"
        name="city"
        #cityInput="ngModel"
        pattern="^[a-zA-Z]+(?!.*--|.*\s\s|.*\.\.)[a-zA-Z-.\s]+"
        placeholder="City"
        [(ngModel)]='city'
        required
        minlength=3
        maxlength=25
      />
    </mat-form-field>

    <mat-form-field>
      <input matInput 
        placeholder='State'
        name='state'
        [matAutocomplete]='auto'
        [(ngModel)] ='state'
        #stateInput='ngModel'
        (ngModelChange)='filterStates(state)'
        isState
        required
      />

      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let state of filteredStates$ | async" [value]='state | titlecase'>{{state | titlecase}}</mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button mat-mini-fab style="justify-self: flex-end">
      <mat-icon>add</mat-icon>
    </button>
  </form>
  <div class='warning-container'>
    <div *ngIf="cityInput.touched" class="warn">
        <small *ngIf="cityInput.errors?.pattern">Please enter a valid city.</small>
        <small *ngIf="cityInput.errors?.required">City is required.</small>
    </div>
    <div *ngIf="stateInput.touched" class='state-warning warn'>
      <small *ngIf="stateInput.errors?.required">State is required.</small>
      <small *ngIf="stateInput.errors?.stateInvalid">Please enter a valid state.</small>
    </div>
    <div class="spacer"></div>
  </div>
 